@use '../../../styles/global' as *;

// --------------------------------------------------------

.has_dropdown {
  display: flex;
  flex-direction: column;
  position: relative;

  .dropdown {
    left: 0;
    position: relative;
    top: 0;
    width: 100vw;

    @include media($small-highest) {
      border-bottom: none;
      min-width: 120px;
      padding: 14px;
      position: absolute;
      right: 0;
      top: 14px;
      width: 100%;
      z-index: $z-index-plus-three;
    }

    li {
      width: 100%;

      a {
        border: none;
        display: block;
        padding: 8px 0;
      }
    }
  }
}
