@use '../../../styles/global' as *;

// --------------------------------------------------------

.has_drop_down {
  display: flex;
  flex-direction: column;
  position: relative;

  // &.is_showing {
  //   @include media($small-highest, down) {
  //     background-color: var(--color-blue-ice);
  //     margin-left: -$global-padding;
  //     margin-right: -$global-padding;
  //   }

  //   span {
  //     @include media($small-highest, down) {
  //       padding-left: $global-padding;
  //     }
  //   }

  //   ul {
  //     li {
  //       @include media($small-highest, down) {
  //         margin-bottom: $global-padding;
  //       }

  //       &:last-of-type {
  //         @include media($small-highest, down) {
  //           margin-bottom: 0;
  //         }
  //       }
  //     }
  //   }
  // }

  .drop_down {
    left: 0;
    position: relative;
    top: 0;
    width: 100vw;

    @include media($small-highest) {
      border-bottom: none;
      min-width: 120px;
      padding: 14px;
      position: absolute;
      right: 0;
      top: 14px;
      width: 100%;
      z-index: 3;
    }

    li {
      width: 100%;

      a {
        border: none;
        display: block;
        padding: 8px 0;
      }
    }
  }
}
